<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


<br><br>


              <div class="row g-4" style="background-color:aliceblue ;">

              <h2 style="text-align: center; "><i><u>New User</u></i></h2>
<br><br>





<div class="row g-4">
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

<label for="" class="form-label">Name</label>
<input type="text" placeholder="Enter your name" class="form-control">


</div>


<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Mobile no</label>
    <input type="text" placeholder="Enter your mobile no" class="form-control">
    
    
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Email id</label>
    <input type="email" name="" placeholder="Enter your email id" id="" class="form-control">
    
    
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Place</label>
    <input type="text" placeholder="Enter your roll no" class="form-control">
    
    
</div>
<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <label for="" class="form-label">Address</label>
<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Enter your address"></textarea>
    
    
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Pincode</label>
    <input type="text" placeholder="Enter your college name" class="form-control">
    
    
</div>

<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Username</label>
    <input type="text" placeholder="Enter username" class="form-control">
    
    
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Password</label>
    <input type="password" name="" id="" class="form-control" placeholder="Enter the password">
    
    
</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Confirm Password</label>
    <input type="password" name="" id="" class="form-control" placeholder="Enter the password">
    
    
</div>
<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <a href="login.html" class="btn btn-primary">Submit</a><br><br>




</div>


</div>
</div>





<br><br>
<div class="row g-4" style="background-color: black;">
<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

    <h2 style="color: white;text-align:center;">CONNECT WITH US</h2>
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    
            <h3 style="text-align: center; color: white;">
        
Address:
<br>
<h5 style="text-align: center; color: white;">
Integer Nec Odio <br>

50039 <br>

Ante's Dapibus Diam <br>

AB' Brazil
</h5>
</h3>
    
    
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <h3 style="text-align: center;color: white;">
                Email :</h3>
                <h5 style="text-align: center; color: white; ">

                info@gmail.com
<br>
                info@gmail.com
                </h5>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <h3 style="text-align: center; color: white;">
                Phone :</h3>
                <h5 style="text-align: center; color: white;">
                    +2 (427) 312-6756
<br>
                    +3 (654) 675-7865
                </h5>
    </div>
        <br><br>
    <h5 style="color: white;text-align:center;">© 2022 Shopz. All Rights Reserved | Design by TemplateOnWeb</h5>
</div>
</div>

        </div>
    </div>
  </div>

