<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

              
    <h1 style="text-align: center;">
        Womens Wear</h1>
<br><br>

<div class="row g-4">
<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://assets.ajio.com/medias/sys_master/root/20211013/DMdl/61667cc8f997ddf8f1ce86dd/-473Wx593H-463086147-blue-MODEL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Floral dress</h5>
          <p class="card-text">Rs.2400/-</p>
          <div class="row">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                <a href="#" class="btn btn-success">Buy Now</a>
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <a href="#" class="btn btn-success">Add cart</a>
          </div>
          </div>
        </div>
      </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

        <div class="card">
            <img height="300px" src="https://cdn.shopify.com/s/files/1/0105/8881/5418/products/buydressesonlineindia-05708.jpg?v=1661762983" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kurthi</h5>
              <p class="card-text">Rs.1500/-</p>
              <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    
                    <a href="#" class="btn btn-success">Buy Now</a>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                  <a href="#" class="btn btn-success">Add cart</a>
              </div>
              </div>
            </div>
          </div>
          </div>



          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

            <div class="card">
                <img height="300px" src="https://adn-static1.nykaa.com/nykdesignstudio-images/tr:w-960,/pub/media/catalog/product/0/1/01bfe6eGR3308-MULTI_1.jpg?rnd=20200526195200" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Western Dress</h5>
                  <p class="card-text">Rs.1450/-</p>
                  <div class="row">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                      <a href="#" class="btn btn-success">Add cart</a>
                  </div>
                  </div>                    </div>
              </div>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                <div class="card" >
                    <img height="300px" src="https://b2c-media.maxmara.com/sys-master/m0/MM/2022/2/1046072906/002/s3master/1046072906002-a-anta_normal.jpg#product" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CASUAL PANTS</h5>
                      <p class="card-text">Rs.1200/-</p>
                      <div class="row">
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            
                            <a href="#" class="btn btn-success">Buy Now</a>
                        </div>
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                          <a href="#" class="btn btn-success">Add cart</a>
                      </div>
                      </div>
                                            </div>
                  </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                    <div class="card">
                        <img height="300px" src="https://rukminim1.flixcart.com/image/832/832/kjom6q80-0/dress/s/w/b/m-black-puff-sleeve-bodycon-sightbomb-original-imafz6hm7xkdvygx.jpeg?q=70" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Midi Dress</h5>
                          <p class="card-text">Rs.2995/-</p>
                          <div class="row">
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                
                                <a href="#" class="btn btn-success">Buy Now</a>
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                              <a href="#" class="btn btn-success">Add cart</a>
                          </div>
                          </div>                            </div>
                      </div>
                      </div>


                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                        <div class="card" >
                            <img height="300px" src="https://rukminim1.flixcart.com/image/832/832/l55nekw0/kurta/w/o/h/s-georgette-vaidehistuti-original-imagfwgbgysqx94u.jpeg?q=70" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Georgette Kurti</h5>
                              <p class="card-text">Rs.1400/-</p>
                              <div class="row">
                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                                    <a href="#" class="btn btn-success">Buy Now</a>
                                </div>
                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                  <a href="#" class="btn btn-success">Add cart</a>
                              </div>
                              </div>                                </div>
                          </div>
                          </div>


                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                            <div class="card">
                                <img height="300px" src="https://m.media-amazon.com/images/I/81xe2-FwATL._UY879_.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Jeans</h5>
                                  <p class="card-text">Rs.1800/-</p>
                                  <div class="row">
                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        
                                        <a href="#" class="btn btn-success">Buy Now</a>
                                    </div>
                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                      <a href="#" class="btn btn-success">Add cart</a>
                                  </div>
                                  </div>       
                                                                    </div>
                              </div>
                              </div>



                              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                <div class="card">
                                    <img height="300px" src="https://media1.popsugar-assets.com/files/thumbor/jMozPArl06z6FFyb4MTQ02Htvh8/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2013/09/10/849/n/1922564/296188975af8753c_17008d20ae2832ff_FFN_Kerr_Bloom_MIT_090913_51202776/i/En-route-US-Open-Miranda-Kerr-managed-make-basics-look.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Formal wear </h5>
                                      <p class="card-text">Rs.2800/-</p>
                                      <div class="row">
                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            
                                            <a href="#" class="btn btn-success">Buy Now</a>
                                        </div>
                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                          <a href="#" class="btn btn-success">Add cart</a>
                                      </div>
                                      </div>       
                                     </div>
                                  </div>
                                  </div>


                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                    <div class="card">
                                        <img height="300px" src="https://images.meesho.com/images/products/140018529/huikw_512.webp" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Satin Saree</h5>
                                          <p class="card-text">Rs.4800/-</p>
                                          <div class="row">
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                
                                                <a href="#" class="btn btn-success">Buy Now</a>
                                            </div>
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                              <a href="#" class="btn btn-success">Add cart</a>
                                          </div>
                                          </div>       
                                         </div>
                                      </div>
                                      </div>




                              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                <div class="card" >
                                    <img height="300px" src="https://rukminim1.flixcart.com/image/832/832/khtghow0-0/sari/w/v/t/free-grsa3503-ratnavati-unstitched-original-imafxqtyyhcjfnsm.jpeg?q=70" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Embellishe Saree</h5>
                                      <p class="card-text">Rs.1999/-</p>
                                      <div class="row">
                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            
                                            <a href="#" class="btn btn-success">Buy Now</a>
                                        </div>
                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                          <a href="#" class="btn btn-success">Add cart</a>
                                      </div>
                                      </div>       
                                                                            </div>
                                  </div>
                                  </div>

                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                    <div class="card">
                                        <img height="300px" src="https://www.fabja.com/pub/media/catalog/product/cache/74c1057f7991b4edb2bc7bdaa94de933/b/u/burgendy-golden-zari-weaving-work-soft-silk-saree-fj500658.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Kanjivaram Saree</h5>
                                          <p class="card-text">Rs.8800/-</p>
                                          <div class="row">
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                
                                                <a href="#" class="btn btn-success">Buy Now</a>
                                            </div>
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                              <a href="#" class="btn btn-success">Add cart</a>
                                          </div>
                                          </div>       
                                         </div>
                                      </div>
                                      </div>


                                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                        <div class="card">
                                            <img height="300px" src="https://rukminim1.flixcart.com/image/416/416/ksoz53k0/shopsy-lehenga-choli/o/d/s/42-semi-stitched-pt-1002-chiku-and-pink-lehenga-choli-pattari-original-imag67bx9tjnqgdt.jpeg?q=70" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">Lahenga</h5>
                                              <p class="card-text">Rs.7800/-</p>
                                              <div class="row">
                                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    
                                                    <a href="#" class="btn btn-success">Buy Now</a>
                                                </div>
                                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                  <a href="#" class="btn btn-success">Add cart</a>
                                              </div>
                                              </div>       
                                             </div>
                                          </div>
                                          </div>




                                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                            <div class="card">
                                                <img height="300px" src="https://m.media-amazon.com/images/I/61ZRhYDCSNL._UY879_.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <h5 class="card-title">Lahenga Saree</h5>
                                                  <p class="card-text">Rs.8600/-</p>
                                                  <div class="row">
                                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        
                                                        <a href="#" class="btn btn-success">Buy Now</a>
                                                    </div>
                                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                      <a href="#" class="btn btn-success">Add cart</a>
                                                  </div>
                                                  </div>       
                                                 </div>
                                              </div>
                                              </div>


                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                    <div class="card">
                                        <img height="300px" src="https://cdn.shopify.com/s/files/1/0484/8504/0291/products/banarasi-saree-burgundy-maroon-banarasi-saree-silk-saree-online-32101010047169.jpg?v=1661618779&width=1200" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Woven Silk Saree</h5>
                                          <p class="card-text">Rs.11200/-</p>
                                          <div class="row">
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                
                                                <a href="#" class="btn btn-success">Buy Now</a>
                                            </div>
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                              <a href="#" class="btn btn-success">Add cart</a>
                                          </div>
                                          </div>       
                                         </div>
                                      </div>
                                      </div>


                                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                        <div class="card">
                                            <img height="300px" src="https://www.sareespalace.com/image/cache/data/pant-style-suit-handwork-net-in-red-112644-800x1100.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">Churidar</h5>
                                              <p class="card-text">Rs.4200/-</p>
                                              <div class="row">
                                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    
                                              <a href="#" class="btn btn-success">Buy Now</a>
                                              </div>
                                              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                <a href="#" class="btn btn-success">Add cart</a>
                                              </div>
                                              </div>       
                                             </div>
                                          </div>
                                          </div>




                                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                            <div class="card">
                                                <img height="300px" src="https://rukminim1.flixcart.com/image/832/832/xif0q/ethnic-set/v/s/l/m-jtb00025-m-jtb-original-imaggvg8phfskhsg.jpeg?q=70" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <h5 class="card-title">Women Kurta Set</h5>
                                                  <p class="card-text">Rs.2500/-</p>
                                                  <div class="row">
                                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        
                                                        <a href="#" class="btn btn-success">Buy Now</a>
                                                    </div>
                                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                      <a href="#" class="btn btn-success">Add cart</a>
                                                  </div>
                                                  </div>       
                                                 </div>
                                              </div>
                                              </div>



                                              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                                <div class="card">
                                                    <img height="300px" src="https://images.meesho.com/images/products/129296738/ozrni_512.webp" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Dupatta</h5>
                                                      <p class="card-text">Rs.800/-</p>
                                                      <div class="row">
                                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                            
                                                            <a href="#" class="btn btn-success">Buy Now</a>
                                                        </div>
                                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                          <a href="#" class="btn btn-success">Add cart</a>
                                                      </div>
                                                      </div>       
                                                     </div>
                                                  </div>
                                                  </div>


                                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                                    <div class="card">
                                                        <img height="300px" src="https://img.ltwebstatic.com/images3_pi/2020/11/11/160506328976b9e3d97531ddb77c54fadcd6ac23be_thumbnail_900x.webp" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Sweaters</h5>
                                                          <p class="card-text">Rs.700/-</p>
                                                          <div class="row">
                                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                
                                                                <a href="#" class="btn btn-success">Buy Now</a>
                                                            </div>
                                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                              <a href="#" class="btn btn-success">Add cart</a>
                                                          </div>
                                                          </div>       
                                                         </div>
                                                      </div>
                                                      </div>

    </div>


<br><br>
<div class="row g-4" style="background-color: black;">
<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

    <h2 style="color: white;text-align:center;">CONNECT WITH US</h2>
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    
            <h3 style="text-align: center; color: white;">
        
Address:
<br>
<h5 style="text-align: center; color: white;">
Integer Nec Odio <br>

50039 <br>

Ante's Dapibus Diam <br>

AB' Brazil
</h5>
</h3>
    
    
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <h3 style="text-align: center;color: white;">
                Email :</h3>
                <h5 style="text-align: center; color: white; ">

                info@gmail.com
<br>
                info@gmail.com
                </h5>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <h3 style="text-align: center; color: white;">
                Phone :</h3>
                <h5 style="text-align: center; color: white;">
                    +2 (427) 312-6756
<br>
                    +3 (654) 675-7865
</h5>

    </div>
        <br><br>
    <h5 style="color: white;text-align:center;">© 2022 Shopz. All Rights Reserved | Design by TemplateOnWeb</h5>
</div>
</div>

        </div>
    </div>
  </div>
