<app-navbar></app-navbar>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

              
    <h1 style="text-align: center;">
        Gents Wear</h1>
<br><br>

<div class="row g-4">
<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

    <div class="card" >
        <img height="300px" src="https://m.media-amazon.com/images/I/61v418UHBHL._UX569_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Casual Shirt</h5>
          <p class="card-text">Rs.2400/-</p>
          <div class="row">
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

          <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <a href="#" class="btn btn-primary">Add cart</a>
          </div>
          </div>
        </div>
      </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

        <div class="card">
            <img height="300px" src="https://s0.badu.bg/upload/galleries/14853/29933big.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jean Jacket</h5>
              <p class="card-text">Rs.3500/-</p>
              <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    
              <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <a href="#" class="btn btn-primary">Add cart</a>
              </div>
              </div>
            </div>
          </div>
          </div>



          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

            <div class="card">
                <img height="300px" src="https://m.media-amazon.com/images/I/31fiz8UgROL.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">T-Shirt</h5>
                  <p class="card-text">Rs.450/-</p>
                  <div class="row">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        
                  <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                  <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <a href="#" class="btn btn-primary">Add cart</a>
                  </div>
                  </div>                    </div>
              </div>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                <div class="card" >
                    <img height="300px" src="https://imgmediagumlet.lbb.in/media/2021/01/60094b43186d3c0ae5002b9f_1611221827416.jpg?fm=webp&w=750&h=500&dpr=1" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">AXE SLIM SHIRT</h5>
                      <p class="card-text">Rs.4800/-</p>
                      <div class="row">
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            
                      <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                      <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <a href="#" class="btn btn-primary">Add cart</a>
                      </div>
                      </div>
                                            </div>
                  </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                    <div class="card">
                        <img height="300px" src="https://g3fashion.cdn.imgeng.in//upload/new_home/sub_images/1661316444_indowestern.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sherwani</h5>
                          <p class="card-text">Rs.22995/-</p>
                          <div class="row">
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                
                          <a href="#" class="btn btn-primary">Buy Now</a>
                          </div>
                          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <a href="#" class="btn btn-primary">Add cart</a>
                          </div>
                          </div>                            </div>
                      </div>
                      </div>


                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                        <div class="card" >
                            <img height="300px" src="https://medias.utsavfashion.com/media/catalog/product/cache/1/small_image/295x/040ec09b1e35df139433887a97daa66f/p/r/printed-dupion-silk-angrakha-style-side-slit-kurta-in-black-v1-mve2254.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Blend Kurtha</h5>
                              <p class="card-text">Rs.1400/-</p>
                              <div class="row">
                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                              <a href="#" class="btn btn-primary">Buy Now</a>
                              </div>
                              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <a href="#" class="btn btn-primary">Add cart</a>
                              </div>
                              </div>                                </div>
                          </div>
                          </div>


                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                            <div class="card">
                                <img height="300px" src="https://ae01.alicdn.com/kf/H67475c74a8634541b95b2133e59b27fdJ.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Hoodies</h5>
                                  <p class="card-text">Rs.1800/-</p>
                                  <div class="row">
                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                  </div>
                                  <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <a href="#" class="btn btn-primary">Add cart</a>
                                  </div>
                                  </div>       
                                                                    </div>
                              </div>
                              </div>



                              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                <div class="card">
                                    <img height="300px" src="https://www.stitchfix.com/men/blog/wp-content/uploads/2021/10/21-06-16_Set_A_M_OLD_V1_1x1-scaled.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Stitch Fix </h5>
                                      <p class="card-text">Rs.5800/-</p>
                                      <div class="row">
                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            
                                      <a href="#" class="btn btn-primary">Buy Now</a>
                                      </div>
                                      <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <a href="#" class="btn btn-primary">Add cart</a>
                                      </div>
                                      </div>       
                                     </div>
                                  </div>
                                  </div>


                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                    <div class="card">
                                        <img height="300px" src="http://3.bp.blogspot.com/-ZvDgq-ewo1E/UF3gd6xJcbI/AAAAAAAAHJI/NIVFShA1MoA/s1600/Simple-Coat-For-Men%27s-2012-2013-he99.blogspot+(2).jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Suits</h5>
                                          <p class="card-text">Rs.4800/-</p>
                                          <div class="row">
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                
                                          <a href="#" class="btn btn-primary">Buy Now</a>
                                          </div>
                                          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                            <a href="#" class="btn btn-primary">Add cart</a>
                                          </div>
                                          </div>       
                                         </div>
                                      </div>
                                      </div>




                              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                <div class="card" >
                                    <img height="300px" src="https://m.media-amazon.com/images/I/61AK7ZA8GrL._AC_SL1500_.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Formal pant</h5>
                                      <p class="card-text">Rs.1200/-</p>
                                      <div class="row">
                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            
                                      <a href="#" class="btn btn-primary">Buy Now</a>
                                      </div>
                                      <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <a href="#" class="btn btn-primary">Add cart</a>
                                      </div>
                                      </div>       
                                                                            </div>
                                  </div>
                                  </div>

                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                    <div class="card">
                                        <img height="300px" src="https://www.weddingsonline.in/blog/wp-content/uploads/2016/08/a9f598cad91b6a1dc81ca8b7ead6ecd2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Blue Sherwani</h5>
                                          <p class="card-text">Rs.3800/-</p>
                                          <div class="row">
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                
                                          <a href="#" class="btn btn-primary">Buy Now</a>
                                          </div>
                                          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                            <a href="#" class="btn btn-primary">Add cart</a>
                                          </div>
                                          </div>       
                                         </div>
                                      </div>
                                      </div>


                                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                        <div class="card">
                                            <img height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2icqmwulm0KSajsi1L0Di_eSCMjRijZE1PHVCbHPRmXf_g9xfLNUMNafy6dD4ULWg3Vs&usqp=CAU" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">Wedding Suits</h5>
                                              <p class="card-text">Rs.6800/-</p>
                                              <div class="row">
                                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    
                                              <a href="#" class="btn btn-primary">Buy Now</a>
                                              </div>
                                              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                <a href="#" class="btn btn-primary">Add cart</a>
                                              </div>
                                              </div>       
                                             </div>
                                          </div>
                                          </div>




                                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                            <div class="card">
                                                <img height="300px" src="https://t4.ftcdn.net/jpg/02/08/63/05/360_F_208630500_cfprNsfZK3o50XSj7OuYnsL9jTHNpNBI.webp" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <h5 class="card-title">Wedding Suits</h5>
                                                  <p class="card-text">Rs.5600/-</p>
                                                  <div class="row">
                                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        
                                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                                  </div>
                                                  <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                    <a href="#" class="btn btn-primary">Add cart</a>
                                                  </div>
                                                  </div>       
                                                 </div>
                                              </div>
                                              </div>


                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                    <div class="card">
                                        <img height="300px" src="https://i0.wp.com/www.theunstitchd.com/wp-content/uploads/2021/04/Casual-Yet-Stylish-Birthday-Outfit-Ideas.jpg?fit=481%2C1257" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Casual wear</h5>
                                          <p class="card-text">Rs.1200/-</p>
                                          <div class="row">
                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                
                                          <a href="#" class="btn btn-primary">Buy Now</a>
                                          </div>
                                          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                            <a href="#" class="btn btn-primary">Add cart</a>
                                          </div>
                                          </div>       
                                         </div>
                                      </div>
                                      </div>


                                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                        <div class="card">
                                            <img height="300px" src="https://cdn.lookastic.com/looks/light-blue-long-sleeve-shirt-grey-crew-neck-t-shirt-tobacco-jeans-large-78891.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <h5 class="card-title">SHIRT JACKET</h5>
                                              <p class="card-text">Rs.2200/-</p>
                                              <div class="row">
                                                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    
                                              <a href="#" class="btn btn-primary">Buy Now</a>
                                              </div>
                                              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                <a href="#" class="btn btn-primary">Add cart</a>
                                              </div>
                                              </div>       
                                             </div>
                                          </div>
                                          </div>




                                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                            <div class="card">
                                                <img height="300px" src="https://images.bewakoof.com/utter/content/3979/content_Loafers.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                  <h5 class="card-title">Summer outfit</h5>
                                                  <p class="card-text">Rs.2500/-</p>
                                                  <div class="row">
                                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        
                                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                                  </div>
                                                  <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                    <a href="#" class="btn btn-primary">Add cart</a>
                                                  </div>
                                                  </div>       
                                                 </div>
                                              </div>
                                              </div>



                                              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                                <div class="card">
                                                    <img height="300px" src="https://rukminim1.flixcart.com/image/832/832/kvwpt3k0/kurta/1/2/h/xl-vlmsc-0816-vida-loca-original-imag8pgtmzbjznzk.jpeg?q=70" class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                      <h5 class="card-title">T-Shirt</h5>
                                                      <p class="card-text">Rs.2300/-</p>
                                                      <div class="row">
                                                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                            
                                                      <a href="#" class="btn btn-primary">Buy Now</a>
                                                      </div>
                                                      <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                        <a href="#" class="btn btn-primary">Add cart</a>
                                                      </div>
                                                      </div>       
                                                     </div>
                                                  </div>
                                                  </div>


                                                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">

                                                    <div class="card">
                                                        <img height="300px" src="https://hips.hearstapps.com/hmg-prod/images/es-030918-memorial-day-outfits-index-1520630010.jpg?resize=1200:*" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Casual outfit</h5>
                                                          <p class="card-text">Rs.3400/-</p>
                                                          <div class="row">
                                                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                
                                                          <a href="#" class="btn btn-primary">Buy Now</a>
                                                          </div>
                                                          <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                                            <a href="#" class="btn btn-primary">Add cart</a>
                                                          </div>
                                                          </div>       
                                                         </div>
                                                      </div>
                                                      </div>

    </div>


<br><br>
<div class="row g-4" style="background-color: black;">
<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

    <h2 style="color: white;text-align:center;">CONNECT WITH US</h2>
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
    
            <h3 style="text-align: center; color: white;">
        
Address:
<br>
<h5 style="text-align: center; color: white;">
Integer Nec Odio <br>

50039 <br>

Ante's Dapibus Diam <br>

AB' Brazil
</h5>
</h3>
    
    
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <h3 style="text-align: center;color: white;">
                Email :</h3>
                <h5 style="text-align: center; color: white; ">

                info@gmail.com
<br>
                info@gmail.com
                </h5>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <h3 style="text-align: center; color: white;">
                Phone :</h3>
                <h5 style="text-align: center; color: white;">
                    +2 (427) 312-6756
<br>
                    +3 (654) 675-7865

                </h5>
    </div>
        <br><br>
    <h5 style="color: white;text-align:center;">© 2022 Shopz. All Rights Reserved | Design by TemplateOnWeb</h5>
</div>
</div>

        </div>
    </div>
  </div>
